---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About Page" description="This is not default description">
  <p>Hi from about</p>
  <p slot="hi">something</p>
</MainLayout>
