---
// interface Post {
//   userId: number;
//   id: number;
//   title: string;
//   body: string;
// }

import MainLayout from "../layouts/MainLayout.astro";

// const res = await fetch("https://jsonplaceholder.typicode.com/posts?_limit=5");
// const data: Post[] = await res.json();
---

<MainLayout title="My Blog">
  <p>Hi from home</p>
</MainLayout>
