---
// interface Post {
//   userId: number;
//   id: number;
//   title: string;
//   body: string;
// }

import MainLayout from "../layouts/MainLayout.astro";

// const res = await fetch("https://jsonplaceholder.typicode.com/posts?_limit=5");
// const data: Post[] = await res.json();

const foregroundColor = "hsl(20, 50%, 50%)";
const backgroundColor = "hsl(200, 50%, 50%)";

const isRed = true;
---

<MainLayout title="My Blog">
  <p>Hi from home</p>
  <p class="big">Hi from home</p>
  <p class:list={["big", { red: isRed }]}>Hi from home</p>
</MainLayout>

<style lang="scss" define:vars={{ foregroundColor, backgroundColor }}>
  p {
    // font-size: 4rem;
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);

    &.big {
      font-size: 4rem;
      &.red {
        color: red;
      }
    }
  }
</style>
