---
---

<footer>
  <small>
    Copyright &copy; <span id="copyright"></span> | All rights reserved
  </small>
</footer>

<script>
  const year = document.querySelector("#copyright") as HTMLSpanElement;
  year.textContent = new Date().getFullYear().toString();
</script>
