---
import MainHead from "./MainHead.astro";

import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

interface Props {
  title: string;
  description?: string;
}
const { title, description = "Default description" } = Astro.props;
---

<html lang="en">
  <MainHead title={title} description={description} />

  <body>
    <Nav />
    <slot>Default Content</slot>

    <!-- <p>Before named slot</p>
    <slot name="hi" /> -->
    <Footer />
  </body>
</html>
